
body, h1, h3, p, ul, li, table, th, td, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f0f0f0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #555;
}


form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form label {
    display: flex;
    margin-bottom: 8px;
}

form input,
form textarea {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s ease;
}



form button {
    color: #fff;
    background-color: #3498db;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
form button:hover {
    background-color: #555;
}



/* Table styles */
table {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #333;
    color: #fff;
}


